.header{
  height: 15rem;
  width: 100%;
  background: var(--gray-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header img{
  width: 12.6rem;
  height: 4.8rem;
}

form{
  width: 40.6rem;
  display: flex;
  gap: .8rem;
  position: absolute;
  margin-top: 15rem;
}

form input{
  width: 100%;
  border-radius: 8px;
  border: 0;
  background: var(--gray-500);
  padding: 0 1.6rem;
  color: var(--gray-100);
}

form input:focus{
  box-shadow: 0 0 0 2px var(--blue-dark);
}

form input::placeholder{
  color: var(--gray-300);
}

form button{
  width: 9rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  padding: 1.6rem 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  background: var(--blue-dark);
  border: 0;
  transition: background-color .2s;
  cursor: pointer;
}

form button:hover{
  background: var(--blue);
}

@media(min-width: 340px){
  form{
    width: 32rem;
  }
}

@media(min-width: 360px){
  form{
    width: 34rem;
  }
}

@media(min-width: 375px){
  form{
    width: 36rem;
  }
}

@media (min-width: 768px) {
  form{
    width: 64rem;
  }
}

@media(min-width: 820px){
  form{
    width: 78rem;
  }
}

@media(min-width: 1024px){
  form{
    width: 90rem;
  }
}

@media (min-width: 1280px) {
  form{
    width: 73.6rem;
  }
}

@media (min-width: 1440px){
  .header{
    height: 20rem;
  }
  form{
    margin-top: 20rem;
  }
}